<!DOCTYPE html>
<html>
    <%- include("../partials/head") %>

    <body>
        <%- include("../partials/loggedin-header") %>
        <main class="page-container"> 
            <div class="content-wrap">

        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 36px; margin-top: 5%;">Edit Activity</h1>




        <form action="/activities/<%=activity.id%>?_method=PUT" method="POST" class="box">
            <div class="field">
              <div class="control">
                Name: <input type="text" name="name" value="<%=activity.name%>"/><br/>
            </div>
            </div>
          
            <div class="field">
              <div class="control">
                Description: <input type="text" name="description" value="<%=activity.description%>"/><br/>
            </div>
            <div class="field">
                <div class="control">
                    Booking Confirmed:
            <input type="checkbox" name="readyToEat"
                <% if(activity.booked === true){ %>
                    checked
                <% } %>
            />
                </div>
            </div>
            </div>
          
            <input type="submit" name="" value="Submit Changes"/>
          </form>










        </div>
        </main>
        <%- include("../partials/footer") %>

    </body>
</html>