<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/loggedin-header") %>

        <main class="page-container"> 
            <div class="content-wrap">

            <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 36px; margin-top: 5%;">ACTIVITIES</h1>
    



        <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
            <% for(let i = 0; i < activity.length; i++){ %>
                <div class="card" style="margin: 30px; width: 500px;">
                    <div class="card-content">
                        The 
                        <a href="/activities/<%= activity[i].id %>">
                        <%= activity[i].name %> 
                    </a>
                        is <%= activity[i].description %>.
                    
                        <!-- now and if else statement for the next sentence -->
    
                        <% if(activity[i].booked === true){ %>
                            This activity has been booked.
                        <% } else { %> 
                            This activity has not been booked.
                        <% } %>
                    </div>
                    <footer class="card-footer">
                                    
                        <a href="/activities/<%=activity[i].id; %>/edit"" class="card-footer-item">Edit</a>
                        
                        <form class="card-footer-item" action="/activities/<%=activity[i].id; %>?_method=DELETE" method="POST">
                            <input class="deletebutton" type="submit" value="DELETE">
                        </form>
                    </footer>
                      </div>
            <% } %>
        </div>

   

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>


